body{
   
   /*background-image: url("logo.png");*/
  /* background-image: url("The weeknd2.jpg");*/
 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: contain;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 /*
 index */
#grid{
      background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
      border-radius: 20px;

}
#hh3{
   border-radius: 20px;
   
}



#up{
   
   background-image: url("The Weeknd/Photos/the_weeknd_4k.jpg");
   
   /*backdrop-filter:blur(20px);*/
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 10px;
}
#name{
   max-width: 1200px;
   width: 100%;
   height: 70px;
   margin: 80px auto;
   border-radius: 50px ;
   padding-bottom: 15px;
   display: flex;
   color: white;
   font-size: 50px;
   justify-content: center;
   background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
#drope{
   max-width: 120px;
   width: 100%;
   height: 30px;
   display:flex;
   flex: row;
   border-bottom: 1px;
}

.drop{
   
   background-color: black;
}
.wrapper{
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
   max-width: 1500px;
   width:100%;
   margin: 80px auto;
   
}
.intro{
   backdrop-filter:blur(13px);

   border-top: 1px solid black;
   border-bottom: 1px solid black;
   background-color: rgb(0,0,0);
   background-color: rgba(31, 30, 30, 0.1); /* Black w/opacity/see-through */
  
   padding: 50px;
   color: white;
   display:flex;
   flex:wrap;
   justify-content: space-between;
   border-radius: 15px;
   z-index: 2;
   font-weight: bold;

   

}
.intro h1{
   width: 20%;
}
.intro div{
   width: 70%;
   line-height: 2em;
}
#video{
   padding: 50px;
  
   display:flex;
   flex:wrap;
   justify-content: space-between;
   border-radius: 15px;
}
#video video{
   width: 50%;
}
#video p{
   width: 20%;
   line-height: 2em;
}
#video p p{
   width: 20%;
   line-height: 2em;
}
#presentation{
   max-width: 1500px;
   width:100%;
   margin: 80px auto;
   
   text-align: justify;
   font-size: larger;
   /*background-color: aqua;*/
   font-family: cursive;
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  
   color:white;
   border-radius:15px;

}
#presentation p{
   backdrop-filter:blur(13px);

   border-top: 1px solid black;
   border-bottom: 1px solid black;
   background-color: rgb(0,0,0);
   background-color: rgba(31, 30, 30, 0.1); /* Black w/opacity/see-through */
  
   padding: 50px;
   color: white;
   display:flex;
   flex:wrap;
   justify-content: space-between;
   border-radius: 15px;
   z-index: 2;
   font-weight: bold;

}

#bio_tw{

   text-align: justify;
   font-size: larger;
   /*background-color: aqua;*/
   font-family: cursive;
   /*background-image: url("The weeknd2.jpg");*/
}

.slider-container{
   width: 100%;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;

}
.slider-images{
   display: flex;
   align-items: center;
   gap: 21px;
}
.slider-images img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
   
}
.slider-img{
   width: 110px;
   cursor: pointer;
   position: relative;
   transition: 0.7s ease;
   border-radius: 6px;

}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
   height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4){
   height: 560px;
}
.slider-images .slider-img:nth-child(3){
   height: 665px;
}
.slider-img.active{
   width: 766px !important;
   height: 750px !important;
}
.hh1{
   font-family: cursive;
   font-size: 30px;
   font-weight: 700;
   text-align: left;
   color: #fff;
   position: absolute;
   top:50%;
   left: -10%;
   transform: rotate(270deg);
   transition: 0.7s ease;
}
.pla{
   font-family: cursive;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   color: #fff;
   display: flex;
   position: absolute;
   top:93%;
   left: 0%;
   transform: rotate(360deg);
   transition: 0.7s ease;
}



/* footer elements */
footer{
   background-color: #111;
}
.footerContainer{
   width: 100%;
   padding: 70px 30px 20px;
}

.socialIcons{
   display: flex;
   justify-content: center;
}
.socialIcons a{
   text-decoration: none;
   padding: 10px;
   background-color: white;
   margin: 10px;
   border-radius: 50%;
}
.socialIcons a i{
   font-size: 2em;
   color: black;
   opacity: 0.9;
} 
.socialIcons a:hover{
   background-color: #111;
   transition: 0.5s;

}
.socialIcons a:hover i{
   color: white;
   transition: 0.5s;
   
}
.footerNav{
   margin: 30px 0;
}
.footerNav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
}
.footerNav ul li a{
   color: white;
   margin: 20px;
   text-decoration: none;
   font-size: 1.3em;
   opacity: 0.7;
   transition: 0.5s;
}
.footerNav ul li a:hover{
   opacity:1;
}
.footerBottom{
   background-color: #000 ;
   color: white;
   padding: 20px;
   text-align: center;
}
.designer{
   opacity: 0.7;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
}
@media (max-width: 700px){
   .footerNav ul{
      flex-direction: column;
   }

   .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
   }
}
  
